<!DOCTYPE html>
<html>
  <head>
    <title>Constructables</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> 
      window.logoUrl = "<%= image_url('constructables-logo2.png') %>" 
    </script>
    <link rel="icon" href="<%=image_url('tank.jpg') %>">
  </head>


  <body>
    <%= yield %>
  </body>
</html>
